/* Основной стиль для хедера */
header {
  background-color: #394871;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nav-button {
  background-color: white;
  color: #394871;
  border: 2px solid #394871;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 150px;
  text-align: center;
}

.nav-button:hover {
  background-color: #394871;
  color: white;
}